body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*topo, direita, embaixo, esquerda*/
    margin: 20px 10px 20px 10px;
    border: 2px solid #CD5C5C;
}

.cabecalho, .rodape{
    background-color: #F08080;
}

.cabecalho p{
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.rodape p{
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.topnav{
    background-color: #CD5C5C;
    padding: 10px;
}

.topnav li{
    display: inline;
}

.topnav li#sobre{
    /*O padrão do float é left*/
    float: right;
} 

.topnav a{
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    transition: .2s; /*intervalo de tempo para trocar o estilo ao passar o mouse*/
}

.topnav a:hover{
    background-color: #F08080;
    color: black;
    padding-top: 10px;
}

.conteudo h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.conteudo img{
    display: block;
    width: 170px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px auto 0px auto;
    box-shadow: 1px 1px 4px #F08080;
}

.conteudo img#fotoautor{
    width: 500px;
}

.conteudo h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.conteudo p{
    text-align: justify;
    line-height: 1.5;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.conteudo h3{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

table#detalhes{
    border: 1px solid #CD5C5C;
   margin:  20px auto 20px auto;
}

table#detalhes caption{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

table#detalhes td{
    font-size: 12px;
    border: 1px solid #793a3a;
    padding: 10px;
    font-weight: bold;
}

table#detalhes td.ce{
    background-color: #CD5C5C;
    color: #fde4e8;
    text-align: right;
}

table#detalhes td.cd{
    background-color:#F08080;
    color: black;
    text-align: left;
}

hr{
    border: 1px solid #CD5C5C;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

